<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sniffr</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a ui-sref="profile">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Authenticated -->
      <li ng-if="!vm.auth.isAuthenticated()">
        <button class="btn btn-primary" ng-if="!vm.auth.isAuthenticated()" ng-click="vm.auth.login()">
              Log In
            </button>
      </li>

      <!-- Unauthenticated -->
      <li uib-dropdown on-toggle="toggled(open)" ng-if="vm.auth.isAuthenticated()">
        <a href id="simple-dropdown" class="nav-text" uib-dropdown-toggle>Hello {{vm.profile.given_name}}! <span class="caret"></span></a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li><a href="#">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
      <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Patrick Ullrich
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a ng-click="vm.auth.logout()">Logout</a></li>
        </ul> -->
      </li>
    </ul>
  </div>
</nav>